<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style> 
            .error {
                color: red;
                font-style:italic
            }
        </style>
    
    </head>
    <body>
        <a href="/blog" style="margin-left: 10px">Main Blog Page</a>
        <a href="/newpost" style="margin-left: 20">Add a Blog Entry</a>
        
            {% with messages = get_flashed_messages() %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>